.container {
    background-color: #3C2A21;
    padding: 4rem;
    border: 1px solid #1A120B;
    border-radius: 10px;
}

.formHeader,
.formHeader h2 {
    margin-bottom: 10px;
    text-align: start;
}


.authFormContainer,
.loginForm,
.registerForm {
    display: flex;
    flex-direction: column;
}


label {
    text-align: left;
    padding: 0.25rem 0;
}


input {
    margin: 0.5rem 0;
    padding: .5rem 1rem;
    border-radius: 10px;
    border: none
}

.authButton {
    margin-top: 10px;
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.linkBtn {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    background: none;
    color: white;
    text-decoration: underline;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
    background-color: lightslategray;
    color: rgb(51, 50, 50);
    border-color: lightslategray;
    cursor: not-allowed;

}

.invalid input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
}

.invalid input:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
}

.errorText {
    font-size: 14px;
    color: #b40e0e;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0;
}

@media screen and (max-width: 600px) {
    .authFormContainer {
        padding: 5rem;
        border: 1px solid white;
        border-radius: 10px;
        margin: 0.5rem;
    }
}
