body {
  background-image: linear-gradient(79deg, #E5E5CB, #D5CEA3 48%, #E5E5CB);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.test {
  padding: 10px;
  margin: 10px;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 70vh;

}

.test2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
